<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header style="display:inline" id="header"></app-header>
<div class="container" style="display:inline" id="cont">
    <div class='button'>
        <h1><b>Félicitations</b></h1>
        <h2>Vous venez de terminer votre création </h2>
        <!-- <input type="text"> -->
        <i class='ion-social-codepen'></i>
        <span style="font-size: large;">Vous pouvez déshormais télécharger votre modèle ou recommencer</span>
        <div style="margin-top: 35%;">
            <input id='button' type='checkbox' (click)="downloadPDF()" value="Download">
            <label for='button'>
                <div class='button_inner q'>
                    <!-- <i class='l ion-log-in'></i> -->
                    <i class="l fa fa-chevron-right"></i>

                    <span class='t'>Télécharger</span>
                    <span>
                        <!-- <i class='tick ion-checkmark-round'></i> -->
                        <i class="tick fa fa-check"></i>
                    </span>
                    <div class='b_l_quad'>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                    </div>
                </div>
            </label>
        </div>
        <div class="restart">
            <button routerLink="" class="btn btn-outline-secondary">Recommencer</button>
        </div>
    </div>
</div>


<body id="htmlPDF" style="display: none; background-color: black; height: 100%;">
    <div class="container">
        <div class="logau" style="    margin-top: 5%; display: flex; align-items: center; justify-content: center;">
            <img id='test' class="logo" src="../../assets/img/logo.png" alt="" style="width: 20%;">
        </div>
        <h1 style="text-align: center; margin-top: 3%; color: aliceblue;">Votre bijoux personnalisé</h1>
        <div class="text" style="margin-top: 5%; display: grid; align-items: center; justify-content: center;">
            <div class="box" id='img'>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>