<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header></app-header>
<div class="container">
    <div class='button'>
        <h1><b>Félicitations</b></h1>
        <h2>Vous venez de terminer votre création </h2>

        <i class='ion-social-codepen'></i>
        <span style="font-size: large;">Vous pouvez déshormais télécharger votre modèle ou recommencer</span>
        <div style="margin-top: 35%;">
            <input id='button' type='checkbox'>
            <label for='button'>
                <div class='button_inner q'>
                    <!-- <i class='l ion-log-in'></i> -->
                    <i class="l fa fa-chevron-right"></i>
                    
                    <span class='t'>Télécharger</span>
                    <span>
                        <!-- <i class='tick ion-checkmark-round'></i> -->
                        <i class="tick fa fa-check"></i>
                    </span>
                    <div class='b_l_quad'>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                    </div>
                </div>
            </label>
        </div>
        <div class="restart">
            <button routerLink="" class="btn btn-outline-secondary">Recommencer</button>
        </div>
    </div>
</div>
