<!-- <header>
  <h1>personnal Website</h1>
  <nav>
    <a routerLink="">home</a>
    <a routerLink="contact">Contact</a>
    <a routerLink="['about', 'math']">About Math</a>
    <a routerLink="['about', 'cs']">About cs</a>

  </nav>
  </header> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- <app-header></app-header> -->
  <router-outlet></router-outlet>
  <!-- <app-footer></app-footer> -->
</body>

</html>