<body>
    <img src="../../assets/img/bague.jpg" alt="image bague3D">
    <div class="btn-container">
        <div class="col-md-12 menu">
            <a class="col-md-3 menubutton" routerLink="../customMetal"> Choix du métal</a>
            <a class="col-md-3 menubutton" routerLink="../customStone">Choix de la pierre</a>
            <a class="col-md-3 menubutton" routerLink="../customEngravement">Gravure</a>

        </div>
    </div>

    <div class="container engraving-container">
        <input class="form-control" type="text" placeholder="Entrez votre gravure">
        <button class="confirm-btn">Confirmer</button>
    </div>

    <a class="col-md-3 menubutton" id="botom" routerLink="../formulaire"> Confirmer votre produit</a>
</body>