<img src="assets/img/bague3D.jfif" alt="image bague3D">
    <div class="btn-container">
        <div class="col-md-12 menu">
            <a class="col-md-3 menubutton" href="custom-metal-choice.html"> Choix du métal</a>
            <a class="col-md-3 menubutton" href="custom-stone-choice.html">Choix de la pierre</a>
            <a class="col-md-3 menubutton " href="custom-engraving.html">Gravure</a>
            <a class="col-md-3 menubutton" href="formulaire.html"> Confirmation</a>
        </div>
    </div>

    <div class="container engraving-container">
        <input class="form-control" type="text" placeholder="Entrez votre gravure">
        <button class="confirm-btn">Confirmer</button>
    </div>
