/* .main-header__headerPositionnement .main-header__container-logo {
    width: 25%;
}
.main-header__container-logo{
    width: 33.3333333333%;
    text-align: center;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, address, img, ol, ul, li, article, aside, figure, footer, header, hgroup, menu, nav, section, menu {
    border: 0 none;
    outline: 0 none;
    font-size: 100%;
    vertical-align: baseline;
    background: none repeat scroll 0 0 transparent;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}
.main-header {
    text-align: center;
    position: relative;
    padding-top: 30px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #fff;
    border-bottom: 1px solid #435397;
    font-family: "Quicksand",sans-serif;
} */

h2{
    text-align: center;
    font-family: 'Cormorant Infant', serif;
}
img{
    max-width: 100%;
    max-height: 100%;
    
}


.diamant{
    width: 40%;
    height: 40%;
    margin-left: 30px;
    display: inline-block;
}
p.diamant1{
    text-align: center;
    font-family: 'Cormorant Infant', serif;
}
.saphir{
    width: 40%;
    height: 40%;
    margin-left: 30px;
    display: inline-block;
    
    
}
p.saphir1{
    text-align: center;
    font-family:'Cormorant Infant', serif;
}
.papillon{
    width: 40%;
    height: 40%;
    margin-left: 30px;
    display: inline-block;
    
    
    
}
p.papillon1{
    text-align: center;
    font-family:'Cormorant Infant', serif;
}
.pierre{
    width: 40%;
    height: 40%;
    margin-left: 30px;
    display: inline-block;
   
   
    
}
p.pierre1{
    text-align: center;
    font-family:'Cormorant Infant', serif;
}
