header{
  background-color: black;
  color:white;
  text-align: center;
  height: 100px;
  
}

body{
    margin: auto ;
    font-family: 'Cormorant Infant', serif;
    height: 100%;
    width: 100%;
}


img{
    width: 100%;
    border-color: black;
}

 .menu{
  display: flex;
} 

 .menubutton {
   background-color: rgb(119, 119, 119);
   padding: 4% ;
   font-size: 73%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: aliceblue;
   text-decoration: none;
   border: aliceblue solid 1px;
   
 }

.menubutton:active{
  background-color: rgb(161, 161, 161);
  color: aliceblue;
}


.btn-choice{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2%;
  justify-content: center;
}

.box{
  background-color: rgb(223, 223, 217);
  width: 40%;
  height: 100px;
  padding: 1%;
  margin: 2%;
  border-radius: 10%;
  font-size: 110%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.imgMetal{
  height: 35%;
  max-height: 100%;
  width: auto;
}

.btn-container{
  width: 100%;
}


.imgStone{
  height: 80%;
  max-height: 100%;
  width: auto;
}
