#header{
    background-color: black;
    padding: 10%;
    margin-top: 0;
}

body{
    margin: 0 ;
    font-family: 'Cormorant Infant', serif;
    zoom:235%;
    margin-top: 15%;
    margin:auto;
    background-color: whitesmoke;
    text-align: center;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  padding: 5%;
}

input {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }

header {
    background-color: black;
    color:white;        
    text-align: center;
    height: 100px;  
    }

textarea {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.menu {
    display: flex;              
    padding:0;                  
    background-color: transparent;  
    justify-content: space-between;     /* Alignements des liens dans le menu */  
}
.menu li {
    list-style-type: none ;       
}
.menu a {
    display:block;                
    min-width: 75px; 
    margin: 0.5rem;              
    padding: 0.4rem 0;            
    text-align: center;           
    background-color: transparent;    
    color: #fff;                  
    text-decoration: none;        
    border: 1px solid #fff;      
    border-radius: 4px;           
} 

div { 
    text-align: right;
}

p {
    text-align: left;
    margin-left: 4%;
}

.footer{
    position: fixed;
    font-family: 'Cormorant Infant', serif;
    bottom: 0%;
    width: 100%;
    background-color: black;
    height: 5%;
    color:white; 
    display: flex;
    } 

    nav>div:last-child{
    border:none;
}

nav>a:hover{
    color:white;
} 

a:hover{
    color:black;
}

.border{
    height: 100%;
}

nav>div:last-child{
    border:none;
}

nav>a:hover{
    color:white;
} 

nav.container{
    display: flex;
    justify-content: space-between;

}

a{
    text-decoration:none;
    }

nav>div>a{        
    color:white;
}