p {
    font-family: 'Cormorant Infant', serif;
    text-align: center;            
    font-size: 250%;
    margin-top: 25%;
} 
/* Parameters of the paragraph */

#button {
    width: 100px;
    text-align: center;
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 25%;
    zoom: 175%;
    font-family: 'Quicksand', sans-serif;
}
/* Parameters of the button (the a in html) */

div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85%;
}
/* Parameters of the container */

#button:active {
    background-color: lightslategray;
}
/* Parameters of the button when you click on it */

html,body {
    background: linear-gradient(lightgrey, #fff);
    height: 100%;
} 
/* Parameters of the background */