.main-header__headerPositionnement .main-header__container-logo {
    width: 25%;
}
.main-header__container-logo{
    width: 33.3333333333%;
    text-align: center;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, address, img, ol, ul, li, article, aside, figure, footer, header, hgroup, menu, nav, section, menu {
    border: 0 none;
    outline: 0 none;
    font-size: 100%;
    vertical-align: baseline;
    background: none repeat scroll 0 0 transparent;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}