body {
    background-color: whitesmoke;
<<<<<<< HEAD
	-webkit-animation-name:FADE;
	-webkit-animation-duration:2s; /* set duration of the fade */
	-webkit-animation-iteration-count:1; /* set de iteration */
=======
	-webkit-animation-name :FADE;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
>>>>>>> parent of 4f70e9f (Merge branch 'test' of https://github.com/LavaL18/GroupA_Dubail_Project into test)
	-moz-animation-name: FADE;
	-moz-animation-duration: 2s; /* set duration of the animation */
	background: linear-gradient(lightgrey, #fff);
	/* Add fade to the svg */
}

.container{
    display: flex;
    justify-content: center;
    align-items: middle; /* align the svg to the middle */
    max-width: 100%;
    height: auto;
    height: 100%;
    max-height: 80%;
    align-content: center;
/* set settings of the svg container */
}

svg {
    max-height: 100%; /* set the height of the svg */
}

html,body{
    height: 100%;
}

@-moz-keyframes FADE{
	0%{ 
	opacity: 0;
	}
	100% { 
	opacity: 1;
	}
}
@-webkit-keyframes FADE{
	0%{ 
	opacity: 0;
	}
	100% { 
	opacity: 1;

	}
}