/* header{
    background-color: white;
    color:white;
    text-align: center;
    height: 100px;
} */

.container{
    display: flex;
    justify-content: center;
    align-items: middle;
    max-width: 100%;
    height: auto;
    height: 100%;
    min-height: 100%;
    align-content: center;
}

html,body{
    height: 100%;
}