
<div class="btn-container">
    <div class="col-md-12 menu">
        <a class="col-md-3 menubutton" routerLink="../metal"> Choix du métal</a>
        <a class="col-md-3 menubutton" routerLink="../stone">Choix de la pierre</a>
        <a class="col-md-3 menubutton" routerLink="../engrave">Gravure et ornements</a>
    </div>
</div>

<div class="btn-choice">
    <button class="box" (click)="click(3)">Saphir <img src="../../assets/img/Saphire.png" alt="Platine" class="imgStone"></button>
    <button class="box" (click)="click(2)">Rubis <img src="../../assets/img/Rubis.png" alt="Gold" class="imgStone"></button>
    <button class="box" (click)="click(0)">Diamant <img src="../../assets/img/diamant.png" alt="PinkGold" class="imgStone"></button>
    <button class="box" (click)="click(1)">Emeraude <img src="../../assets/img/Emeraude.png" alt="WhiteGold" class="imgStone"></button>
</div>

<a class="col-md-3 menubutton" id="botom" routerLink="../../formulaire"> Confirmer votre produit</a>
