<img src="img/bague3D.jfif" alt="image bague3D">
<div class="btn-container">
    <div class="col-md-12 menu">
        <a class="col-md-3 menubutton" href="custom-metal-choice.html"> Choix du métal</a>
        <a class="col-md-3 menubutton" href="custom-stone-choice.html">Choix de la pierre</a>
        <a class="col-md-3 menubutton " href="custom-engraving.html">Gravure</a>
        <a class="col-md-3 menubutton" href="formulaire.html"> Confirmation</a>
    </div>
</div>

<div class="btn-choice">
    <a class="box" href="#">Saphir <img src="img/Saphire.png" alt="Platine" class="imgStone"></a>
    <a class="box" href="#">Rubis <img src="img/Rubis.png" alt="Gold" class="imgStone"></a>
    <a class="box" href="#">Diamant <img src="img/diamant.png" alt="PinkGold" class="imgStone"></a>
    <a class="box" href="#">Emeraude <img src="img/Emeraude.png" alt="WhiteGold" class="imgStone"></a>
</div>