<body>
<img src="../../assets/img/bague.jpg" alt="image bague3D">
<div class="btn-container">
    <div class="col-md-12 menu">
        <a class="col-md-3 menubutton" routerLink="../customMetal"> Choix du métal</a>
        <a class="col-md-3 menubutton" routerLink="../customStone">Choix de la pierre</a>
        <a class="col-md-3 menubutton" routerLink="../customEngravement">Gravure</a>
    </div>
</div>

<div class="btn-choice">
    <a class="box" href="#">Saphir <img src="../../assets/img/Saphire.png" alt="Platine" class="imgStone"></a>
    <a class="box" href="#">Rubis <img src="../../assets/img/Rubis.png" alt="Gold" class="imgStone"></a>
    <a class="box" href="#">Diamant <img src="../../assets/img/diamant.png" alt="PinkGold" class="imgStone"></a>
    <a class="box" href="#">Emeraude <img src="../../assets/img/Emeraude.png" alt="WhiteGold" class="imgStone"></a>
</div>

<a class="col-md-3 menubutton" id="botom" routerLink="../formulaire"> Confirmer votre produit</a>
</body>