
    <div class="btn-container">
        <div class="col-md-12 menu">
            <a class="col-md-3 menubutton" routerLink="../metal"> Choix du métal</a>
            <a class="col-md-3 menubutton" routerLink="../stone">Choix de la pierre</a>
            <a class="col-md-3 menubutton" routerLink="../engrave">Gravure</a>
        </div>
    </div>



    <div class="btn-choice">
        <a class="box" href="#">Argent <img src="assets/img/Platine.png" alt="Argent" class="imgMetal"></a>
        <a class="box" href="#">Or <img src="assets/img/Or.png" alt="Gold" class="imgMetal"></a>
        <a class="box" href="#">Or Rose <img src="assets/img/OrRose.png" alt="PinkGold" class="imgMetal"></a>
        <a class="box" href="#">Or Blanc <img src="assets/img/OrBlanc.png" alt="WhiteGold" class="imgMetal"></a>
    </div>

    <a class="col-md-3 menubutton" id="botom" routerLink="../../formulaire"> Confirmer votre produit</a>