<app-header></app-header>
<div class="col-md-12">
    <h2>Choisissez votre Bijou</h2>

    <section class="carousel placement_carousel" aria-label="Gallery">
        <ol class="carousel__viewport">
            <li id="carousel__slide1" tabindex="0" class="carousel__slide">
                <div class="carousel__snapper">
                    <a routerLink="../ring/metal" (click)="emptyCache()"><span>Bague</span></a>
                </div>
            </li>
            <li id="carousel__slide2" tabindex="0" class="carousel__slide">
                <div class="carousel__snapper">
                    <a routerLink="../necklace/metal" (click)="emptyCache()"><span>Collier</span></a>
                </div>
            </li>
            <li id="carousel__slide3" tabindex="0" class="carousel__slide">
                <div class="carousel__snapper">
                    <a routerLink="../bracelet/metal" (click)="emptyCache()"><span>Bracelet</span></a>
                </div>
            </li>
            <li id="carousel__slide4" tabindex="0" class="carousel__slide">
                <div class="carousel__snapper">
                    <a routerLink="../earring/metal" (click)="emptyCache()"><span>Boucles</span></a>
                </div>
            </li>
        </ol>
    </section>
    <br>
    <div class="wrapper">
        <!-- Single-Finger Swipe Left & Right Icon -->
        <svg id="Swipe-horizontal_1" data-name="Swipe horizontal 1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 200">
            <path class="hand-x"
                d="M139.93,113.56l-41.12-6.93V76.08a9.25,9.25,0,0,0-9.25-9.25h0a9.25,9.25,0,0,0-9.25,9.25v57.36L71,122.65c-3.61-3.61-8.44-3.89-13.08,0,0,0-7.24,5.84-3.83,9.25l34,34h42.63a9.25,9.25,0,0,0,9.07-7.43l6.82-34.09A9.28,9.28,0,0,0,139.93,113.56Z" />
            <g class="swipe-horizontal">
                <path class="line-horizontal" d="M70.85,42c19.69-12.46,37,0,37,0" />
                <polyline class="arrow-left" points="76.6 46.01 68.37 43.43 68.38 43.41 70.96 35.18" />
                <polyline class="arrow-right" points="100.21 44.66 108.43 42.08 108.43 42.06 105.85 33.84" />
            </g>
        </svg>
        <!-- Single-Finger Tap Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <circle class="tap-1" cx="89.43" cy="64.48" r="19.46" />
            <path class="hand-tap"
                d="M139.93,102.68,98.81,95.75V65.2A9.25,9.25,0,0,0,89.56,56h0a9.25,9.25,0,0,0-9.25,9.25v57.36L71,111.77c-3.61-3.61-8.44-3.89-13.08,0,0,0-7.24,5.84-3.83,9.25l34,34h42.63a9.25,9.25,0,0,0,9.07-7.43l6.82-34.09A9.28,9.28,0,0,0,139.93,102.68Z" />
        </svg>
    </div>
    <div class="containerText">

        <H2 class="center">Faites défiler <br> pour selectionner votre bijoux</H2>

    </div>

</div>
<router-outlet></router-outlet>