<div class="btn-container">
    <div class="col-md-12 menu">
        <a class="col-md-3 menubutton" routerLink="../metal"> Choix du métal</a>
        <a class="col-md-3 menubutton" routerLink="../stone">Choix de la pierre</a>
        <a class="col-md-3 menubutton" routerLink="../engrave">Gravure et Ornements</a>
    </div>
</div>

<div class="container engraving-container">
    <div class="sliderz">
        <p style="margin-top: -10%;">Ajout d'ornements (pierres):</p>
        <input type="range" min="0" max="4" value="1" id="myRange">
        <span id="demo"></span>
    </div>
    <input class="form-control" type="text" placeholder="Entrez votre gravure">
    <button class="confirm-btn">Confirmer la gravure</button>
</div>

<a class="col-md-3 menubutton" id="botom" routerLink="../../formulaire"> Confirmer votre produit</a>