
/* delete the point for the link on the footer */
a{
        text-decoration: none;
    }
 nav>a:hover{
        color :white;
    }
 /* make space and the display flex to align the footer    */
nav.container{
    display: flex;
    justify-content: space-between;

}
/* color the link on white on the footer */
nav>a{
    color:white;
}
/* make the background on the footer on black with the same writting style than dubail and make the footer always at the bottom of the page */
.footer{
    position: fixed;
    font-family: 'Cormorant Infant', serif;
    bottom: 0%;
    width: 100%;
    background-color: black;
    height: 5%;
    color:white; 
    display: flex;
    } 
   