<div class="col-md-12">
    <h2>Choisissez votre Bijou</h2>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 col-xs-3"><a routerLink="../customMetal">
                    <img src="assets/img/collier.jpg" alt="image du collier">
                    <p class="collier1">Collier</p>
                </a></div>
            <div class="col-6 col-xs-3"><a routerLink="../customMetal">
                    <img src="assets/img/bague.jpg" class="img-fluid" alt="image de la bague">
                    <p class="bague1">Bague</p>
                </a></div>
            <div class="w-100">
            </div>
            <div class="col-6 col-xs-3">
                <a routerLink="../customMetal">
                    <img src="assets/img/bracelet.jpg" alt="image du bracelet">
                    <p class="bracelet1">Bracelet</p>
                </a>
            </div>
            <div class="col-6 col-xs-3">
                <a routerLink="../customMetal">
                    <img src="assets/img/boucle.jpg" alt="image de la boucle d'oreilles">
                    <p>Boucle d'oreilles</p>
                </a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>